
<div id="{$_name}" style="display:none" for-xepan-component="xepan/cms/Tool_Button" class="xepan-tool-options">
  <div class="xepan-cms-group-panel clearfix">
    <h3 data-toggle="collapse" data-target="#collapse-carousel" aria-expanded="false" class="collapsed"><span>Button</span></h3>
    <div id="collapse-carousel" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div class="panel-body">
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#bootstrap-btn-options" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Options </span></div>
        </div>
        <div id="bootstrap-btn-options" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover">
            <tr>
              <td>Button Label</td>
            </tr>
            <tr>
              <td>
                <input id="xepan-button-text-label" style="width:95%" type="text"/>
              </td>
            </tr>
            <tr>
              <td>Button Color</td>
            </tr>
            <tr>
              <td>
                <div id="btn-colors" role="group" aria-label="..." class="btn-group btn-group-xs">
                  <button name="color" type="button" value="btn-default" class="xepan-cms-apply-btn btn btn-default">Default</button>
                  <button name="color" type="button" value="btn-primary" class="xepan-cms-apply-btn btn btn-primary">Primary</button>
                  <button name="color" type="button" value="btn-info" class="xepan-cms-apply-btn btn btn-info">Info</button>
                  <button name="color" type="button" value="btn-success" class="xepan-cms-apply-btn btn btn-success">Success</button>
                  <button name="color" type="button" value="btn-warning" class="xepan-cms-apply-btn btn btn-warning">Warning</button>
                  <button name="color" type="button" value="btn-danger" class="xepan-cms-apply-btn btn btn-danger">Danger</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Size			</td>
            </tr>
            <tr>
              <td>
                <div id="btn-sizes">
                  <p>
                    <button value="btn-xs" type="button" class="btn btn-xs btn-default">Mini</button>
                    <button value="btn-sm" type="button" class="btn btn-sm btn-default">Small</button>
                    <button value="btn-default" type="button" class="btn btn-default">Default</button>
                    <button value="btn-lg" type="button" class="btn btn-default btn-lg">Large</button>
                  </p>
                  <p><a href="#" data-toggle="button" class="btn btn-default btn-block active">Full width button</a>
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button role="iconpicker" class="btn btn-default"></button>
                <div role="iconpicker"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    });
    
    
    $('#{$_name} .xepan-cms-apply-btn').click(function(event){
        //- $(current_selected_component).removeClass(function(index,classname){
        //-   	return (classname.match(/(^|\s)btn-\S+/g) || []).join(' ');
        //-   }).addClass($(this).val());
    	$(current_selected_component).removeClass('btn-success btn-default btn-primary btn-info btn-warning btn-danger').addClass($(this).val());
    });
    
    $('#xepan-button-text-label').change(function(event) {
    	$(current_selected_component).html($("#xepan-button-text-label").val());
    });
    
    $('#btn-sizes button').on('click', function(e) {
    	$(current_selected_component).removeClass('btn-xs btn-sm btn-lg').addClass($(this).val());
    });
    
    $('#btn-sizes a').on('click', function(e) {
    	$(current_selected_component).toggleClass('btn-block');
    });
  </script>
</div>