
<div id="{$_name}" style="display:none" for-xepan-component="xepan/cms/Tool_CustomForm" class="xepan-tool-options">
  <h3>Custom Form Options</h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Custom Form Id</div>
    <div class="xepan-tool-option-value"> 
      <select id="custom_form_">{$id}(data-attr='customformid')</select>
    </div>
  </div>
  <script>
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));
    	});
    
    	$.ajax({
    		url: 'index.php?page=xepan_cms_admin_getforms',
    		type: 'GET',
    		data: { },
    		success: function(data){
    			$('\#custom_form_{$id}').html(data);
    			$('\#custom_form_{$id}').val($(current_selected_component).attr('customformid'));
    		}
    	});
    })
  </script>
</div>