.xepan-tool-options(id='{$_name}' style="display:none" for-xepan-component='xepan/cms/Tool_BootStrapMenu')
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
	.xepan-cms-group-panel.clearfix
		h3.collapsed(data-toggle="collapse" data-target="#collapse-boot-menu" aria-expanded="false")
			span| BootStrap Menu Options
		#collapse-boot-menu.xepan-cms-tools-bar-panel.row-fluid.collapse.in
			.xepan-toolbar-panel-body
				table.table.table-condensed.table-hover
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Brand
								td.xepan-tool-option-value
									select#show_brand(data-attr='show_brand' data-defaultvalue="true")
										option(value="1") Show
										option(value="0") Hide
						tr
							td
								| Get Pages
							td
								button#xmenu-bootstrap-get-pages.btn.btn-default.btn-xs Get Pages
						tr
							.xepan-tool-option
								td.xepan-tool-option-title Navbar Position
								td.xepan-tool-option-value
									button#xepan-bootstrap-menu-default-nav.btn.btn-default.btn-xs(type='button') Default
									button#xepan-bootstrap-menu-fixed-top.btn.btn-default.btn-xs(type='button') Fixed to Top
									button#xepan-bootstrap-menu-fixed-bottom.btn.btn-default.btn-xs(type='button') Fixed to Bottom
									button#xepan-bootstrap-menu-static-top.btn.btn-default.btn-xs(type='button') Static Top
									button#xepan-bootstrap-menu-inverted-nav.btn.btn-default.btn-xs(type='button') Inverted Navbar

				.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
				
	script.
		$('\#{$_name} [data-attr]').on('change',function(){
			$(current_selected_component).attr($(this).data('attr'),$(this).val());
		});

		$('\#{$_name}').on('show',function(event){
			$('\#{$_name} [data-attr]').each(function(index,value){
				
				var default_value = $(this).attr('data-defaultvalue');
				if($(current_selected_component).attr($(this).data('attr')))
					default_value = $(current_selected_component).attr($(this).data('attr'));
				
				$(this).val(default_value);
			});
		})

		$('#show_brand').change(function(){
		  if($(this).val() == '0'){ // or this.value == 'volvo'
		    $(current_selected_component).find('.xepan-brand').css('display','none');
		  }else{
		    $(current_selected_component).find('.xepan-brand').css('display','block');
		    }
		});

		$('#xepan-bootstrap-menu-default-nav').click(function(event) {
		  $(current_selected_component).find('.navbar').removeClass('navbar-fixed-bottom navbar-fixed-top navbar-static-top navbar-inverse');
		  $(current_selected_component).find('.navbar').addClass('navbar-default');
		});

		$('#xepan-bootstrap-menu-fixed-top').click(function(event) {
		  $(current_selected_component).find('.navbar').removeClass('navbar-fixed-bottom navbar-static-top navbar-inverse');
		  $(current_selected_component).find('.navbar').addClass('navbar-fixed-top');
		});
		
		$('#xepan-bootstrap-menu-fixed-bottom').click(function(event) {
		  $(current_selected_component).find('.navbar').removeClass('navbar-fixed-top navbar-static-top navbar-inverse');
		  $(current_selected_component).find('.navbar').addClass('navbar-fixed-bottom');
		});

		$('#xepan-bootstrap-menu-static-top').click(function(event) {
		  $(current_selected_component).find('.navbar').removeClass('navbar-fixed-bottom navbar-fixed-top navbar-inverse');
		  $(current_selected_component).find('.navbar').addClass('navbar-static-top');
		});

		$('#xepan-bootstrap-menu-inverted-nav').click(function(event) {
		  $(current_selected_component).find('.navbar').removeClass('navbar-default navbar-fixed-bottom navbar-fixed-top navbar-static-top ');
		  $(current_selected_component).find('.navbar').addClass('navbar-inverse');
		});

		function getSubPageHtml(path,page_data){

			if($(page_data.subpage).length){
				var html = '<li class="dropdown dropdown-submenu">';
					html += '<a href="'+path+'" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">'+page_data.name+' <span class="caret"></span></a>';
					html += '<ul class="dropdown-menu">';
				$.each(page_data.subpage,function(sub_page_path,sub_page_data){
					html += getSubPageHtml(sub_page_path,sub_page_data);
				});
				html += '</ul></li>';
			}else{
				var html = '<li><a href="path">'+page_data.name+'</a></li>';
			}

			return html;
		}
		//- get Pages
		$("\#{$_name} \#xmenu-bootstrap-get-pages").click(function(){
			$.ajax({
				url: 'index.php?page=xepan_cms_getpage',
				type: 'GET',
				data: { },
				success: function (data){
					var pages = JSON.parse(data);
					var list_html = "" ;
					$.each(pages,function(path,page_data){
						list_html += getSubPageHtml(path,page_data);
					});

					$(current_selected_component).find('#xepan-boostrap-ul').html("");
					$(list_html).appendTo($(current_selected_component).find('#xepan-boostrap-ul'));
					
					//- //- manual call dropdown after get page and also coded at document ready in view tool html file
					//- $(current_selected_component).find('.dropdown-toggle').dropdown();
					//- $(current_selected_component).find('.dropdown-submenu a').on('click',function(e){
					//- 	$(this).next('ul').toggle();
					//-     e.stopPropagation();
					//-     e.preventDefault();
					//- });
				}
			});
		});