
<div id="{$_name}" style="display:none" for-xepan-component="xepan/cms/Tool_Gallery" class="xepan-tool-options">
  <div class="xepan-cms-group-panel clearfix">
    <div id="collapse-item-list" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div style="padding-top:0px;padding-bottom:0px;" class="panel-body">
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#show-hide-gallery-option" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="show-hide-gallery-option" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Gallery Type</td>
              <td class="xepan-tool-option-value">
                <select id="gallery_type" data-attr="gallery_type" data-defaultvalue="portfolio">
                  <option value="portfolio">Portfolio</option>
                  <option value="googlegallery">Google Gallery</option>
                </select>
              </td>
            </tr>
            <tr class="show-text">
              <td class="xepan-tool-option-title">Show Title</td>
              <td class="xepan-tool-option-value"> 
                <select id="show_title" data-attr="show_title" data-defaultvalue="true">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
            </tr>
            <tr class="show-description">
              <td class="xepan-tool-option-title">Show Description</td>
              <td class="xepan-tool-option-value">
                <select id="show_title" data-attr="show_description" data-defaultvalue="true">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
            </tr>
            <tr class="category">
              <td class="xepan-tool-option-title">Category</td>
              <td colspan="2" class="xepan-tool-option-value">
                <select id="{$_name}_dropdown" style="width:100%;" data-attr="img_gallery_category" class="chosen-select option-category"></select>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $.ajax({
    	url: 'index.php?page=xepan_cms_getimagegallerycategory',
    	type: 'GET',
    	data: { },
    	success: function ( data ){
    		//- console.log(data);
    		$('#{$_name}_dropdown').html(data);
    	}
    });
    
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    
    	if($(this).data('toggleclass')){
    		var value = $(this).data('togglevalue').toString();
    		if($(this).val() === value){
    			$($(this).data('toggleclass')).show();
    		}else
    			$($(this).data('toggleclass')).hide();
    	}
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		// setting up default value if no option selected
    		var default_value = $(this).attr('data-defaultvalue');
    		if($(current_selected_component).attr($(this).data('attr')))
    			default_value = $(current_selected_component).attr($(this).data('attr'));
    		
    		$(this).val(default_value);
    	});
    });
  </script>
</div>