
<div id="{$_name}" style="display:none" for-xepan-component="xepan/cms/Tool_Image" class="xepan-tool-options">
  <div class="xepan-collasp-header">
    <table class="table table-condensed table-hover">
      <tbody>
        <tr>
          <td>Image</td>
          <td>
            <div class="btn-group">
              <input id="xepan-image-option-src" type="text" disabled="true/" class="btn"/>
              <button id="xepan-image-option-select" type="button" class="btn btn-default btn-xs">Select</button>
            </div>
          </td>
          <td>
            <button id="xepan-image-option-default" type="button" class="btn btn-default btn-xs">Default</button>
          </td>
        </tr>
        <tr>
          <td>css class</td>
          <td colspan="2">
            <input id="xepan-image-option-class" type="text"/>
          </td>
        </tr>
        <tr>
          <td>Link</td>
          <td colspan="2">
            <input id="xepan-image-link" type="text" placeholder=""/>
          </td>
        </tr>
        <tr>
          <td>Target</td>
          <td colspan="2">
            <select id="xepan-image-link-target">
              <option value="none">None</option>
              <option value="_blank">New Window</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  // ========== OPTION TO COMPONENT EFFECT ==============
  //
  // $(your_option_html_element).click(function(event,ui){
  // 		$(current_selected_component).what to do ???
  // })
  $('#xepan-image-option-default').click(function(event) {
  $(current_selected_component).find('img').attr('src','templates/images/logo.png');
  $('#xepan-image-option-src').val('templates/images/logo.png');
  });
  $('#xepan-image-option-class').change(function(event) {
  $(current_selected_component).removeClass($(current_selected_component).find('img').attr('data-extra-classes'));
  $(current_selected_component).find('img').attr('data-extra-classes',$(this).val());
  $(current_selected_component).find('img').addClass($(this).val());
  });

  // link change event
  $('#xepan-image-link').change(function(event) {
  $(current_selected_component).attr('xepan-image-link',$(this).val());
  if($(this).val()){
    inner_html = $(current_selected_component).html();
    $(current_selected_component).html(" ");
    $(current_selected_component).append('<a href="'+$(this).val()+'" target="'+$('#xepan-image-link-target').val()+'">'+inner_html+'</a>');
  }else{
    img = $(current_selected_component).find('img');
    inner_html = $(img)[0];
    $(current_selected_component).html(" ");
    $(current_selected_component).append(inner_html);
  }
  // $(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
  });
  
  // target change event
  $('#xepan-image-link-target').change(function(event) {
    $(current_selected_component).find('a').attr('target',$(this).val());
  });

  $('#xepan-image-option-select').click(function(event) {
  var fm = $('<div/>').dialogelfinder({
  url : '?page=xepan_base_elconnector',
  lang : 'en',
  width : 840,
  destroyOnClose : true,
  getFileCallback : function(files, fm) {
  console.log(files.url);
  $('#xepan-image-option-src').val(files.url);
  $(current_selected_component).find('img').attr('src',files.url);
  },
  commandsOptions : {
  getfile : {
  oncomplete : 'close',
  folders : true
  }
  }
  }).dialogelfinder('instance');
  });

  $('#{$_name}').on('show',function(event){
    $('#xepan-image-option-src').val($(current_selected_component).find('img').attr('src'));
    $('#xepan-image-link').val($(current_selected_component).find('a').attr('href'));
  });
</script>