
<div id="{$_name}" style="display:none" for-xepan-component="xepan/cms/Tool_ImageGallery" class="xepan-tool-options">
  <table class="table-condensed table-hover xepan-cms-tool-table">
    <tr class="show-text">
      <div class="xepan-tool-option">
        <td class="xepan-tool-option-title">Show Title</td>
        <td class="xepan-tool-option-value"> 
          <select id="show_title" data-attr="show_title" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </div>
    </tr>
    <tr class="show-description">
      <div class="xepan-tool-option">		
        <td class="xepan-tool-option-title">Show Description</td>
        <td class="xepan-tool-option-value">
          <select id="show_title" data-attr="show_description" data-defaultvalue="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </div>
    </tr>
    <tr class="category">
      <div class="xepan-tool-option">
        <td class="xepan-tool-option-title">Category</td>
        <td colspan="2" class="xepan-tool-option-value">
          <select id="{$_name}_dropdown" style="width:100%;" data-attr="img_gallery_category" class="chosen-select option-category"></select>
        </td>
      </div>
    </tr>
  </table>
  <script>
    $.ajax({
    	url: 'index.php?page=xepan_cms_getimagegallerycategory',
    	type: 'GET',
    	data: { },
    	success: function ( data ){
    		//- console.log(data);
    		$('#{$_name}_dropdown').html(data);
    	}
    });
    
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    });
  </script>
</div>