
<div id="{$_name}" style="display:none" for-xepan-component="xepan/cms/Tool_Columns" class="xepan-tool-options">
  <h3>Columns</h3>
  <div class="xepan-tool-option">
    <div class="xepan-tool-option-title">Size</div>
    <div class="xepan-tool-option-value"> 
      <select id="column-option-size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option selected="selected">4</option>
        <option>6</option>
        <option>12</option>
      </select>
    </div>
  </div>
  <script>
    $('#column-option-size').on('change',function(){
    	$(current_selected_component).removeClass (function (index, css) {
    	    return (css.match (/(^|\s)col-\S+/g) || []).join(' ');
    	});
    	$(current_selected_component).addClass('col-md-'+$(this).val());
    });
    
    $('#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    
    $('#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
    		$(this).val($(current_selected_component).attr($(this).data('attr')));				
    	});
    })
  </script>
</div>