{toolBar}
<div id="{$_name}" aria-expanded="true" class="xepan-toolbar">{$topbar_editor}
  <div class="xepan-toolbar-drag-handler"><i data-toggle="collapse" data-target="#xepan-cms-groups-panel" aria-expanded="true"></i></div>
  <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in">{$groups}
  </div>
</div>
<div style="display:none;" class="xepan-tools-options">
  <div class="xepan-tools-options-drag-handler"></div>
  <div class="xepan-tools">
    {$tool_options}
    {$basic_property}
  </div>
</div>{/toolBar}
{group}
<div class="xepan-cms-group-panel clearfix">
  <H6 data-toggle="collapse" data-target="#{$_name}" aria-expanded="false" class="collapsed"><span>{$name}</span></H6>
  <div class="seperator"></div>
  <div id="{$_name}" aria-expanded="false" class="xepan-cms-tools-bar-panel row-fluid collapse">{$tools}</div>
</div>{/group}
{tool}
<div id="{$_name}" style="text-align:center; padding-bottom:10px" class="col-md-4 col-sm-4 col-xs-4 xepan-tool-bar-tool"><img src="vendor/{$namespace}/templates/images/{$name}_icon.png"/>
  <div>{$name} {$tool_html}</div>
</div>{/tool}