{toolBar}
.xepan-toolbar(id='{$_name}' aria-expanded="true")
	.xepan-toolbar-drag-handler
		i(data-toggle="collapse" data-target="\#xepan-cms-groups-panel" aria-expanded="true")
	.xepan-cms-groups-panel.collapse.in(id="xepan-cms-groups-panel")
		{$groups}
		#xepan-savepage-btn.btn.btn-primary SAVE
.xepan-tools-options(style="display:none;")
	.xepan-tools-options-drag-handler
	.xepan-tools
		{$tool_options}
{/toolBar}

{group}
div.xepan-cms-group-panel.clearfix
	H6.collapsed(data-toggle="collapse" data-target="\#{$_name}" aria-expanded="false")
		span {$name}
	.seperator
	.xepan-cms-tools-bar-panel.row-fluid.collapse(id="{$_name}" aria-expanded="false")
		{$tools}
{/group}

{tool}
.col-md-6.col-sm-6.xepan-tool-bar-tool(id='{$_name}')
	i.glyphicon.glyphicon-asterisk
	div {$name} {$tool_html}
{/tool}