{toolBar}
<div class="xepan-cms-toolbar">{$groups}</div>
<div id="{$_name}" aria-expanded="true" class="xepan-toolbar">{$topbar_editor}</div>
<div style="display:none;" class="xepan-tools-options">
  <div class="xepan-tools-options-drag-handler"></div>
  <div class="xepan-tools">
    {$tool_options}
    {$basic_property}
  </div>
</div>{/toolBar}
{group}
<div class="xepan-cms-group-panel">{$name}
  <div class="xepan-cms-tools-bar-panel">{$tools}</div>
</div>{/group}
{tool}
<div id="{$_name}" style="text-align:center;" class="xepan-tool-bar-tool"><img src="vendor/{$namespace}/templates/images/{$name}_icon.png" onerror="this.src='./vendor/xepan/cms/templates/images/default_icon.png'"/>
  <div>{$name} {$tool_html}</div>
</div>{/tool}