
<div id="{$_name}" data-ride="carousel" style="height:270px;" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="undefined" data-slide-to="0" class="active"></li>
    <li data-target="undefined" data-slide-to="1"></li>
    <li data-target="undefined" data-slide-to="2"></li>
  </ol>
  <div role="listbox" class="carousel-inner">
    {rows}
    {row}
    <div class="item {$active}">
      <div class="row">
        <div class="col-md-2"></div>
        <div style="margin-top:20px;" class="col-md-8 text-center">{show_text_wrapper}
          <h3><b>{$text_to_write}</b></h3>{/}
          <div><a href="[object Object]"><img src="{$file}" alt_text="{$alt_text}" title="{$title}" description="{$text_to_display}"/></a></div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="carousel-caption"></div>
    </div>  {/}{/}
  </div><a href="undefined" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a><a href="undefined" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a>
</div>