nav.navbar.navbar-default(id='{$_name}', {$attributes}='', class='{$class}', style=' {$style}', role='navigation')
	.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		.xepan-brand.xepan-component.xepan-sortable-component.navbar-form.navbar-left(xepan-component="xepan/cms/Tool_Container" emptytext="Container")
			.xepan-component.xepan-editable-text.mce-content-body(xepan-component='xepan/cms/Tool_Text' emptytext='Edit this text')
				p Edit this text
	.collapse.navbar-collapse.navbar-ex1-collapse
		ul#xepan-boostrap-ul.nav.navbar-nav
			li.active
				a(href='#') Home
			li
				a(href='#') About
	//- script.
	//- 	$(document).ready(function(){
	//- 		$('\#{$_name} .dropdown-toggle').dropdown();
			
	//- 		$('\#{$_name} .dropdown-submenu a').on("click", function(e){
	//- 		    $(this).next('ul').toggle();
	//- 		    e.stopPropagation();
	//- 		    e.preventDefault();
	//- 		});
	//- 	});

