nav.navbar.navbar-default(id='{$_name}', {$attributes}='', class='{$class}', style=' {$style}', role='navigation')
	// Brand and toggle get grouped for better mobile display
	.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		{navbar_brand}		
		.xepan-component.xepan-sortable-component.xepan-page-wrapper.navbar-form.navbar-left(id="0e66fa7d-9916-4bbd-ac19-ef44a9419542" xepan-component="xepan/cms/Tool_Container" emptytext="Container" class="xepan-component xepan-sortable-component container ui-sortable")
			#5de93f3a-3f6c-4a15-e7fe-4e1a9aa82538.xepan-component.xepan-editable-text.mce-content-body.xepan-selected-component(xepan-component='xepan/cms/Tool_Text', emptytext='Edit this text', style='position: relative;', contenteditable='true')
				p Edit this text
		{/navbar_brand}		
	
		//- .epan-component.epan-sortable-component.editor.navbar-brand(contenteditable='true', component_type='Container', component_namespace='baseElements')
	// Collect the nav links, forms, and other content for toggling
	.collapse.navbar-collapse.navbar-ex1-collapse
		ul#xMenu-boostrap-ul.nav.navbar-nav
			li.active
				a(href='#') Home 
			li
				a(href='#') About
		.xepan-component.xepan-sortable-component.xepan-page-wrapper.navbar-form.navbar-left(id="a1bc3687-0946-4bbd-b811-d18756458d52" xepan-component="xepan/cms/Tool_Container" emptytext="Container" class="xepan-component xepan-sortable-component container ui-sortable")
