button.btn.btn-default.xepan-component.btn-label(id='{$_name}' class='{$class}' style='{$style}' xepan-component='xepan/cms/Tool_Button' type='button' data-button-icon-class="" data-icon-position="left" xepan-button-label="Button Label") Button Label 
	i.fa 
