//- button.btn.btn-default.xepan-component.btn-label(id='{$_name}' class='{$class}' style='{$style}' xepan-component='xepan/cms/Tool_Button' type='button' data-button-icon-class="" data-icon-position="left" xepan-button-label="Button Label") Button Label 
	i.fa 
.xepan-button.xepan-component(id='{$_name}' class='{$class}' style='{$style}'  data-button-icon-class="" data-icon-position="left" xepan-button-label="Button Text" xepan-button-link="#" xepan-button-link-behavior="0" xepan-component='xepan/cms/Tool_Button')
	a.custom-btn-links.btn.btn-default(href='#' target="")
		i.fa
		|  Button text
