.xepan-component.row
	.col-md-4.xepan-component.xepan-sortable-component(xepan-component="xepan/cms/Tool_Columns" emptytext='Column')
	.col-md-4.xepan-component.xepan-sortable-component(xepan-component="xepan/cms/Tool_Columns" emptytext='Column')
	.col-md-4.xepan-component.xepan-sortable-component(xepan-component="xepan/cms/Tool_Columns" emptytext='Column')