div(id="{$_name}" class="{$class}" style="{$style}")
	.row
		.col-cs-12
			ul(id="filter-list")
				li.filter(data-filter="all") ALL
				{$category}
				{category_list}
				{$Content}
				{rows}{row}
				li.filter(data-filter="{$name}") {$name}
				{/}{/}
				{/}
	.row
		.col-xs-12
			ul.portfolio_items
				{$item_list}
				{item}
				{$Content}
				li.portfolio(class="{$gallery_cat}")
					.post_thumb
						img(src="{$image_path}")
						.portfolio-overlay
							.overlay-inner
								h3 {$name}
								a(href="{$image}" class="fancybox")
									i.fa.fa-camera
								a(href="{$detail_url}" class="fancybox")
									i.fa.fa-link
				{/}
	script.
		$('.portfolio_items').mixitup({
			targetSelector: '.portfolio',
			transitionSpeed: 450
		});
		$('a.fancybox').fancybox();