<div id="{$_name}" class="{$class}">
    <div class="owl-carousel">
    {rows}
    {row}
    <div class="" >
      <div class="testimonial-slides" style="background-color: red;">
           <div class="column-testimonial">
           <div class="  column-image">
               <img src="{$contact_image}" alt="image">
           </div>
           <div class="">
               <h3 style="text-align: center;"> {$tittle}</h3>
               <p  style="font-weight: bold; text-align: center">{$contact}</p>
               <div style="text-align:center;"> {$description}</div>
           </div>
           </div>
       </div>  
    </div>
    {/}{/}
    </div>
</div>